body {
    margin: 0;
}

.page-web {
    width: 330px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

}

.logo {
    width: 200px;
    text-align: center;
}

.riga-colo{
    background-color: #FDFBF1;
   text-align: center;
   border-top: 1px solid orange;

}

main{
    padding: 2em;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

main h1 {
    text-align: center;
}


main .descrizione {
    text-align: left;
}

main .Sally {
    text-align: center; color: grey;

}

.prelista {
    border-left: 3px solid #FFD877;
   text-align: left;
}


    .prelista h4 {
    color: #B5460F;
}

.ingr {
padding-top: 3rem;
}

.primalista li {
    padding: 15px;
    
}

.secondalista li {
    padding: 15px;
}

.h2 {
    padding: 20px;
}

.metodo {
    padding-left: 20px;
}




